@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;   /* center vertically */
  min-height: 100vh;
  background: #f7f9fc;
  padding: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;  /* center all cards horizontally */
  width: 100%;
}
/* Tabs */
.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;
}

.tab {
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: #fff;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s;
}

.tab.active {
  background: #2563eb;
  color: #fff;
  border-color: #2563eb;
}

/* Card */
.card {
  background: #fff;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  max-width: 400px;   /* wider form */
  width: 100%;
  text-align: center;
   min-height: 440px;   
  display: flex;
  flex-direction: column;
  justify-content: flex-start;  
}

.card.hidden {
  display: none;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #1e293b;
}

label {
  display: block;
  text-align: left;
  margin: 10px 0 5px;
  font-size: 0.9rem;
  color: #374151;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
  margin-bottom: 15px;
  font-size: 1rem;
}

/* Buttons */
.buttons, .inputs {
  display: flex;
  gap: 10px;
  justify-content: center;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.3s;
}

#calculateCm {
  margin-bottom: 30px;
}

#calculate, #calculateCm {
  background: #2563eb;
  color: white;
}

#calculate:hover, #calculateCm:hover {
  background: #1d4ed8;
}

#reset {
  background: #e5e7eb;
  color: #111;
}

#reset:hover {
  background: #d1d5db;
}

.result-label {
   display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.copy-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: #2563eb;
  transition: color 0.3s;
}

.copy-btn:hover {
  color: #1d4ed8;
}

h3 {
  margin-top: 10px;
  font-size: 1.5rem;
  color: #2563eb;
}

/* Responsive */
@media (max-width: 600px) {
  .card {
    max-width: 100%;
    min-height: 435px;
  }
  /* Card */

}
